/AkhilPortfolio/myportfolio/node_modules

/ECommerce-Website/client/node_modules
/ECommerce-Website/server/node_modules
/ECommerce-Website/server/.env

/FILE SHARING APP/client/node_modules
/FILE SHARING APP/server/node_modules
/FILE SHARING APP/server/.env

/TODO LIST APP/client/node_modules
/TODO LIST APP/server/node_modules
/TODO LIST APP/server/.env



